.cta{
    padding:120px 0;
}

.cta-card{

    background:linear-gradient(
        180deg,
        rgba(255,255,255,.05),
        rgba(255,255,255,.02)
    );

    border:1px solid var(--border);

    border-radius:28px;

    padding:70px;

    text-align:center;

    position:relative;

    overflow:hidden;
}

.cta-card::before{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    background:radial-gradient(
        circle,
        rgba(59,130,246,.18),
        transparent 70%
    );

    top:-180px;

    right:-120px;
}

.cta h2{

    font-size:clamp(2.8rem,5vw,4.5rem);

    margin:25px 0;
}

.cta p{

    color:var(--text-secondary);

    max-width:650px;

    margin:auto;

    line-height:1.8;
}

.cta button{

    margin-top:40px;

    border:none;

    padding:18px 36px;

    border-radius:999px;

    background:var(--primary);

    color:white;

    font-size:1rem;

    font-weight:600;

    transition:.3s;
}

.cta button:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(59,130,246,.35);
}